
    <h2>Dang nhap :</h2>
    <form asp-action="Index">
        <input type="text" name="masinhvien" placeholder="masinhvien" /><br>
        <input type="text" name="hoTen" placeholder="hoTen" /><br>
        <input type="submit" name="Send" value="Send" />
    </form>
    <h1>@ViewBag.thongbao</h1>
